body {
    background:url(/images/background.jpg);//图片路径
    background-repeat: no-repeat;//是否重复平铺
    background-attachment:fixed;//是否随着网页上下滚动而滚动，fixed为固定
    background-position:50% 50%;//图片位置
    background-size: cover;//图片展示大小
    /* 设置背景颜色，背景图加载过程中会显示背景色 */

    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;


}

/* bug of siderbar inner style opacity pority is top 内置样式透明度设置更高 
.header-inner {
    background: #ffffffe8;//设置侧边栏透明
    opacity: 0.8; //这里设置为1，否则搜索栏会消失
}
.sidebar-inner {
   // background: #ffffffe8;//设置侧边栏透明
    background: rgba(255,0,0,0.3);
   // opacity: 0.6;//这里设置为1，否则搜索栏会消失
}
*/

.content-wrap {
        background: #fff;
        opacity: 0.86;//设置文章主体透明度
}


// 自定义鼠标样式;图片链接的文件必须是ico文件
/*  * {
      cursor: url("图片链接"),auto!important
  }
  :active {
      cursor: url("图片链接"),auto!important
  }
 */


 //单行代码块颜色
code {
    color: #e74856;
    background: #faf0f0;
    margin: 1px;
    font-weight:600;
}

// 大代码块的自定义样式
.highlight, pre {
    margin: 2px 0;
    padding: 1px;
    border-radius:1px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}


// 代码折叠功能添加
.hider_title{
    cursor: pointer;
    color: #ef4a05;
}
.close:before{
    content: "▼";
}
.open:before{
    content: "▲";
}


// 粒子时钟样式
.site-overview {
  text-align: center;
}

canvas#canvas {
  margin-top: 20px;
}


//近期文章：字体样式
.links-of-blogroll-title {
    font-size: 16px;
}

//近期文章：链接字体样式
.links-of-blogroll-list a {
    color: #ff73b8;
    font-weight: 400; 
}
.links-of-blogroll {
    font-size: 0.8125em;
    margin-top: 10px;
}

//修改页脚字符的颜色：
  .footer {
      color: #00ffdcfa;
  }
 .footer a {
    color: #effc23;
}

//Tags标签云的样式：
.tag-cloud a {
    box-shadow: 0 1px 3px #ff42c1, 0 1px 2px #d9534f;
    padding: 8px 10px;
    margin: 8px;
    }
//正文H1标题，蓝色标识符：
.posts-expand .post-title:hover {
    border-left: #ffa0a0 30px solid;
    padding-left: 15px;
    cursor: pointer;
    transition: border-width 0.3s linear 0.1s, color 0.2s linear 0.3s;
}

//文章正文字体样式：
.post-body h1, .post-body h2 {
    border-bottom: 1px solid #f88;
}
.post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
    padding-top: 10px;
}
h2 {
    font-size: 1.375em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif SC', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-weight: bold;
    line-height: 1.5;
    margin: 20px 0 15px;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


//Markdown的checkbox
input[type="checkbox"] {
  display: none !important; // by imo: to overwrite styles in DuoShuo-Comments-Plugin
}
input[type="checkbox"] + label::before {
  content: '\a0';
  display: inline-block;
  margin-right: .2em;
  border: 1px solid;
  border-radius: .2em;
  width: .8em;
  height: .8em;
  vertical-align: .1em;
  text-indent: .1em;
  line-height: .7;
  border-color: black;
}
input[type="checkbox"]:checked + label::before {
  content: '\2713';
}


//修改POST页的间隙 padding;

@media (min-width: 768px) and (max-width: 991px) {
  .sub-menu + .content .post-block {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .sub-menu + .content .post-block {
    margin-top: 8px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .content-wrap {
    padding: 10px;
  }
  .posts-expand {
    margin: initial;
  }
  .posts-expand .post-button {
    margin-top: 20px;
  }
  .post-block {
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
    padding: 20px;
  }
  .post-block + .post-block {
    margin-top: 10px;
  }
  .comments {
    margin-top: 10px;
    padding: 10px 20px;
  }
  .pagination {
    margin: 10px 0 0;
  }
}
@media (max-width: 767px) {
  .content-wrap {
    padding: 8px;
  }
  .posts-expand {
    margin: initial;
  }
  .posts-expand .post-button {
    margin: 12px 0;
  }
  .post-block {
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
    min-height: auto;
    padding: 12px;
  }
  .post-block + .post-block {
    margin-top: 8px;
  }
  .comments {
    margin-top: 8px;
    padding: 10px 12px;
  }
  .pagination {
    margin: 8px 0 0;
  }
}